#!/bin/bash
# Launch Docker container for ur-driver
ROS_DISTRO=humble
UR_TYPE="ur3e"
ROBOT_IP=10.66.218.141
REVERSE_IP=10.66.219.39

docker run -it --network host\
    ghcr.io/nsls2/ur-hande-draft:latest \
    /bin/bash -c ". /root/ws/ERoBS_ur3e/install/setup.sh && \
ros2 launch sample_movement_ur3e_sim sample_movement_ur3e_sim.launch.py"
