version: '3'

services:
  ursim:
    image: ursim:latest
    command: tail -f /dev/null
    ports:
      - 5900:5900
      - 6080:6080
    environment:
      - ROBOT_MODEL=UR3e
    networks:
      ursim_net:
        ipv4_address: 192.168.56.101
    volumes:
      - ./ursim/programs:/ursim/programs

  urdriver:
    image: ur-driver:latest
    ports:
      - 50001:50001
      - 50002:50002
      - 50003:50003
      - 50004:50004
    environment:
      - ROBOT_IP=192.168.56.101
    networks:
      ursim_net:
        ipv4_address: 192.168.56.102
    depends_on:
      - ursim

  urmoveit:
    image: ur-moveit:latest
    ports:
      - 5901:5901
    environment:
      - ROBOT_IP=192.168.56.101
      - LAUNCH_RVIZ=true
    networks:
      ursim_net:
        ipv4_address: 192.168.56.103
    depends_on:
      - urdriver


  urexample:
    image: ur-example:latest
    environment:
      - ROBOT_IP=192.168.56.101
    networks:
      - ursim_net
    depends_on:
      - urdriver

  # helloworld:
  #   image: hello-world:latest
  #   environment:
  #     - ROBOT_IP=192.168.56.101
  #   networks:
  #     ursim_net:
  #       ipv4_address: 192.168.56.104


networks:
  ursim_net:
    ipam:
      config:
        - subnet: 192.168.56.0/24

# Can be configured to use extrernal network as well
# https://stackoverflow.com/questions/46461977/docker-compose-v3-static-ip
